<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923172788575-8ri5a1vp76blobgbsqg4cu3f70rd58kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923172788575-8ri5a1vp76blobgbsqg4cu3f70rd58kn</string>
	<key>API_KEY</key>
	<string>AIzaSyA8X7cpgqGfx7GKcqmj5G2goV6SoUHs_r8</string>
	<key>GCM_SENDER_ID</key>
	<string>923172788575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.legal</string>
	<key>PROJECT_ID</key>
	<string>lawyer-68fb9</string>
	<key>STORAGE_BUCKET</key>
	<string>lawyer-68fb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923172788575:ios:d17915aaeec5d84e013eea</string>
</dict>
</plist>